.App .insert {
  margin-left: 25%;
  margin-top: 20vh;
}

.App .Title {
  margin-top: 5%;
  margin-left: 38%;
  font-family: "Lucida Console", Courier, monospace;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 }

.App .Logout {
  margin-left: 90%;
  margin-top: -50px;
}

.App .Login {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-left: 30%;
  width: 34%;
  background-color: #D3E7F7;
  border: 1px solid #D3E7F7;
  border-radius: 10px;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}

.loginLable {
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  font-size: 15px;
}

.App .Register {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin-left: 24%;
  margin-top: 20px;
  width: 46%;
  background-color: #D3E7F7;
  border: 1px solid #D3E7F7;
  border-radius: 10px;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  font-size: 15px;
  font-family: "Lucida Console", Courier, monospace;
}

.App .form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  margin-top: 10%;
  margin-left: 28%;
}

@media screen and (max-width: 500px) {
 
  .App .Title{
    margin-left: 35%;
  }

 .App .form {
    margin-left: 27%;
  }

  .App .Register {
    margin-left: 20%;
  }

  .App .Login {
    margin-left: 27%;
  }

}

@media screen and (max-width: 300px) {
 
  .App .Title{
    margin-left: 25%;
  }

  .App .form {
    margin-left: 20%;
  }

  .App .Register {
    margin-left: 18%;
  }

  .App .Login {
    margin-left: 25%;
  }

}