body {
  background-image: url('./Template/BackgroundApp.image.jpg');
  opacity: 1;
  display: flex;
  flex-direction: column;
}


.App {
  position: fixed; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50%;
  margin-top: 50vh;
  transform: translate(-45%, -50%);
  width: 552px; 
  height: 455px; 
/*  background: #B0C4DEF;
*/ 
  opacity: 1;
  color: #000000 ;
  -webkit-box-shadow: 5px 5px 5px black;
  -moz-box-shadow: 5px 5px 5px black;
  box-shadow: 0 5px 5px grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}


@media screen and (max-width: 550px) {

  .App{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    transform: translate(-45%, -50%);
    width: 100%; 
    height: 90vh; 
  }
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
